# Dependencies
node_modules/

# Build Output
.next/
out/

# Production Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db
